<app-searchbar
  [query]="query"
  (queryChange)="postsService.updateQuery($event)"
  >
</app-searchbar>

<app-post
  *ngFor="let post of postsService.filteredPosts$ | async"
  [title]="post.title"
  [body]="post.body"
  [author]="post.author"
  [date]="post.date"
  [likeCount]="post.likeCount"
>

  <button class="bg-white ba b--green inline-flex items-center pa2 br2 sans-serif pointer f6 qa-like-btn"
    (click)="postsService.updateLike(post.id)">

    <app-like
      [likeCount]="post.likeCount">
    </app-like>

    {{ post.likeCount }}
  </button>

</app-post>
